<nav class="top-bar pt-2">
    <div class="mr-auto mt-1 pl-2">
        <ul class="menu">
            <li><i class="fa fa-eercast"></i> My Web</li>
        </ul>
    </div>
    <div class="ml-auto pr-4">
        <ul class="menu">
            <li  *ngIf="!(isLoggedIn | async)">
                <div class="button" (click)="login()">Login <i class="fa fa-sign-out" aria-hidden="true"></i></div>
            </li>
            <li *ngIf="!(isLoggedIn | async)">
                <div class="button" (click)="register()">Register <i class="fa fa-sign-out" aria-hidden="true"></i>
                </div>
            </li>
            <li  *ngIf="(isLoggedIn | async)">
                <div class="button" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></div>
            </li>
        </ul>
    </div>
</nav>